.card-widget.card-info
  .card-content
    .card-info-avatar.is-center
      #author-info__sayhi.author-info__sayhi 晚上好！我是
      .author-info__name= config.author
      .author-info__description
        | 这有关于
        b 开发
        | 的有趣历程的分享和对
        b 生活
        | 相关的摸索和思考，还有
        | 前沿资讯的
        b 摘要
        | 。
      .author-info__description2
        | 相信你可以在这里找到对你有些价值、感触的
        b 内容
        | 和一些有点用的
        b 教程
        | 。
  .banner-button-group
    a.banner-button(onclick='pjax.loadUrl("/about/")' data-pjax-state='')
      i.fas.fa-circle-chevron-right
      span.banner-button-text 了解更多
  a#card-info-btn.button--animated(target='_blank' rel='noopener external nofollow' href='https://github.com/zhangyuhan2016')
    i.fab.fa-github
    span Github
  .card-info-social-icons.is-center
    a.social-icon(href='https://github.com/zhangyuhan2016' rel='external nofollow' target='_blank' title='Github')
      i.fab.fa-github
