#rightMenu.js-pjax
    .rightMenu-group.rightMenu-small
        .rightMenu-item#menu-backward
            i.fa.fa-arrow-left
        .rightMenu-item#menu-forward
            i.fa.fa-arrow-right
        .rightMenu-item#menu-refresh
            i.fa.fa-refresh
        .rightMenu-item#menu-top
            i.fa.fa-arrow-up
    .rightMenu-group.rightMenu-line.rightMenuPlugin
        .rightMenu-item#menu-copytext
            i.fa.fa-copy
            span 复制选中文本
        .rightMenu-item#menu-pastetext
            i.fa.fa-paste
            span 粘贴文本
        .rightMenu-item#menu-newwindow
            i.fa.fa-arrow-up-right-from-square
            span 新窗口打开
        .rightMenu-item#menu-copylink
            i.fa.fa-link
            span 复制链接地址
        .rightMenu-item#menu-copyimg
            i.fa.fa-image
            span 复制此图片
        .rightMenu-item#menu-downloadimg
            i.fa.fa-download
            span 下载此图片
        .rightMenu-item#menu-search
            i.fa.fa-magnifying-glass-location
            span 站内搜索
        .rightMenu-item#menu-searchBaidu
            i.fa.fa-search
            span 百度搜索
        .rightMenu-item#menu-music-toggle
            i.fa.fa-play
            span 播放音乐
        .rightMenu-item#menu-music-back
            i.fa.fa-backward
            span 切换到上一首
        .rightMenu-item#menu-music-forward
            i.fa.fa-forward
            span 切换到下一首
        .rightMenu-item#menu-music-playlist
            i.fa.fa-list
            span 查看所有歌曲
        .rightMenu-item#menu-music-copyMusicName
            i.fa.fa-music
            span 复制歌名
    .rightMenu-group.rightMenu-line.rightMenuOther
        a.rightMenu-item.menu-Link#menu-randomPost
            i.fa.fa-van-shuttle
            span 随便逛逛
    .rightMenu-group.rightMenu-line
        a.rightMenu-item.menu-link(href="/agreement/privacy/", data-pjax-state="")
            i.fa.fa-mask
            span 隐私协议
        a.rightMenu-item.menu-link(href="/agreement/cc/", data-pjax-state="")
            i.fa.fa-copyright
            span 版权协议
    .rightMenu-group.rightMenu-line.rightMenuOther
        .rightMenu-item#menu-copy
            i.fa.fa-link
            span 复制地址
        .rightMenu-item#menu-darkmode
            i.fa.fa-circle-half-stroke
            span.menu-darkmode-text 深色模式

